<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ecnu.damai.mapper.ProgramMapper">
    <select id="findProgramById" resultType="cn.ecnu.damai.entity.Program">
        SELECT id          AS pid,
               title,
               low_price   AS lowPrice,
               high_price  AS highPrice,
               start_time  AS startTime,
               end_time    AS endTime,
               address,
               `explain`,
               detail,
               notice,
               image_url   AS image,
               city_id     AS cityId,
               category_id AS categoryId
        FROM program
        WHERE id = #{programId}
    </select>
</mapper>